@charset "utf-8";
/* CSS Document */

/* Tooltip */

.tip, .tipClick{ /* This is any element that has a tooltip attached too it */
	position:relative !important;
	display:inline-block;
}

.tip > .tooltipL,
.tip > .tooltipB,
.tip > .tooltipR,
.tip > .tooltipT,
.tipClick > .tooltipL,
.tipClick > .tooltipB,
.tipClick > .tooltipR,
.tipClick > .tooltipT{ /* Used to hide the tooltip */
	display:none;
}

/** IMPORTANT!  Use the tipClick class for clickable tooltips (mobile doesn't allow hovering) and the .tip class for hoverable tooltips **/

.tip:hover > .tooltipL, 
.tip:hover > .tooltipB,
.tip:hover > .tooltipR,
.tip:hover > .tooltipT, /* This shows the tooltip when an elements with the .tip class is hovered over */
.tipClick > a:focus + .tooltipL, 
.tipClick > a:focus + .tooltipB,
.tipClick > a:focus + .tooltipR,
.tipClick > a:focus + .tooltipT{ /* This shows the tooltip once an element with the .tipClick class is clicked */
	display:block;
}.tip > a{cursor:help;} /* This is optional and not included in all tooltip styles.  You can easily add it if you like **/

/***************  Left Tooltip *****************/

.tooltipL{ /* The styling on the tooltip */
	border:#ccc solid thin;
	background: #333333; /* old browsers */
    padding: 5px;
    position: absolute;
	text-align:center;
    left: -226px;
    margin-top: -28px;
	color:#e7e7e7;
	width:200px;
	z-index:10;
	}
	
.tooltipL:before{  /* Creates the arrow for the tooltip */
	border-color: transparent transparent transparent #333333;
  	border-style: solid;
  	border-width: 10px;
  	height:0px;
  	width:0px;
  	position:absolute;
  	top:5px;
  	right:-20px;
  	display:block;
  	content:"\00a0";
}

/************  Bottom Tooltip **************/

.tooltipB{ /* The styling on the tooltip */
    background: none repeat scroll 0 0 #333333;
    top: 30px;
    color: #E7E7E7;
	min-width:200px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 10;
	}
	
.tooltipB:before{  /* Creates the arrow for the tooltip */
	border-color: transparent transparent #333333 transparent;
  	border-style: solid;
  	border-width: 10px;
  	height:0px;
  	width:0px;
  	position:absolute;
  	right:5px;
  	top:-20px;
  	display:block;
  	content:"\00a0";
}

/*************** Right Tooltip **************/

.tooltipR{ /* The styling on the tooltip */
	border:#ccc solid thin;
	background: #333333; /* old browsers */
    padding: 5px;
    position: absolute;
	text-align:center;
    right: -225px;
    margin-top: -28px;
	color:#e7e7e7;
	width:200px;
	z-index:10;
	}
	
.tooltipR:before{  /* Creates the arrow for the tooltip */
	border-color: transparent #333333 transparent transparent;
  	border-style: solid;
  	border-width: 10px;
  	height:0px;
  	width:0px;
  	position:absolute;
  	top:5px;
  	left:-20px;
  	display:block;
  	content:"\00a0";
}

/*************** Top Tooltip *****************/

.tooltipT{ /* The styling on the tooltip */
    background: none repeat scroll 0 0 #333333;
    bottom: 26px;
    color: #E7E7E7;
	min-width:200px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 10;
	}
	
.tooltipT:before{  /* Creates the arrow for the tooltip */
	border-color: #333333 transparent transparent transparent;
  	border-style: solid;
  	border-width: 10px;
  	height:0px;
  	width:0px;
  	position:absolute;
  	right:5px;
  	bottom:-20px;
  	display:block;
  	content:"\00a0";
}