@charset "utf-8";
/* CSS Document */

/* Tooltip */

.tip, .tipClick{ /* This is any element that has a tooltip attached too it */
	position:relative !important;
	display:inline-block;
}

.tip > .tooltipL,
.tip > .tooltipB,
.tip > .tooltipR,
.tip > .tooltipT,
.tipClick > .tooltipL,
.tipClick > .tooltipB,
.tipClick > .tooltipR,
.tipClick > .tooltipT{ /* Used to hide the tooltip */
	display:none;
}

/** IMPORTANT!  Use the tipClick class for clickable tooltips (mobile doesn't allow hovering) and the .tip class for hoverable tooltips **/

.tip:hover > .tooltipL, 
.tip:hover > .tooltipB,
.tip:hover > .tooltipR,
.tip:hover > .tooltipT, /* This shows the tooltip when an elements with the .tip class is hovered over */
.tipClick > a:focus + .tooltipL, 
.tipClick > a:focus + .tooltipB,
.tipClick > a:focus + .tooltipR,
.tipClick > a:focus + .tooltipT{ /* This shows the tooltip once an element with the .tipClick class is clicked */
	display:block;
}

.tooltipL, .tooltipR, .tooltipB, .tooltipT{ /* Universal styling for each tooltip */
	background: #cedbe9; /* old browsers */
	background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%); /* firefox */
	background: linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%); /* future browsers */
	-pie-background: linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%); /* pie for ie */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedbe9), color-stop(17%,#aac5de), color-stop(50%,#6199c7), color-stop(51%,#3a84c3), color-stop(59%,#419ad6), color-stop(71%,#4bb8f0), color-stop(84%,#3a8bc2), 	color-stop(100%,#26558b)); /* webkit */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border:solid #FFFFFF 2px;
    padding: 5px;
    position: absolute;
	text-align:center;
	color:#262626;
	z-index:10;
	width:200px;
}

.tooltipL:before, .tooltipR:before, .tooltipB:before, .tooltipT:before{ /* Universal stying for the tooltip arrow */
  	display:block;
  	content:"\00a0";
	position:absolute;
	height:0px;
  	width:0px;
	border-style: solid;
  	border-width: 11px;
}

/*********** Left Tooltip **************/

.tooltipL{ /* The styling on the tooltip */
    left: -226px;
    margin-top: -28px;
	}
	
.tooltipL:before{  /* Creates the arrow for the tooltip */
	border-color: transparent transparent transparent #aac5de;
  	top:5px;
  	right:-20px;
}

/************ Bottom Tooltip *************/

.tooltipB{ /* The styling on the tooltip */
    top: 30px;
	left: -183px;
	}
	
.tooltipB:before{  /* Creates the arrow for the tooltip */
	border-color: transparent transparent #cedbe9 transparent;
  	right:5px;
  	top:-20px;;
}

/*********** Right Tooltip ************/

.tooltipR{ /* The styling on the tooltip */
    right: -226px;
    margin-top: -28px;
	}
	
.tooltipR:before{  /* Creates the arrow for the tooltip */
	border-color: transparent #aac5de transparent transparent;
  	top:5px;
  	left:-20px;
}

/******* Top Tooltip **********/

.tooltipT{ /* The styling on the tooltip */
    bottom:26px;
    left: -186px;
	}
	
.tooltipT:before{  /* Creates the arrow for the tooltip */
	border-color: #26558b transparent transparent transparent;
  	right:5px;
  	bottom:-20px;
}