
body
{
	background-color: #fff;
	margin: 0;
	padding: 0;
	border: 0;
}

a
{
	outline: none;
}
p
{
	margin-top: 13px;
}
img
{
	border: none;
}

h1
{
     font: 16px/1.7 'open sans', sans-serif;
	color: #333;
}

.low
{
     font: 13px/1.7 'open sans', sans-serif;
	color: #333;
	font-weight: 300;
}
.low a
{
	color: #333;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #ccc;
}
.low a:hover
{
     border: none;
}

.light_image:hover
{
	opacity: 0.8;
}

.block
{
	clear: both;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

